.list{
    background-color: #5cbae8 !important;
    padding: 5px 10px !important;
    border-radius: 8px;
    
}

.item-dentist{
    cursor: pointer;
    background-color: #0dbef3;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 5px 0;
}

.MuiListItemAvatar-root{
    background-color: #0dbef3;
    border: 2px solid #1274c9;
    /* width: fit-content; */
    border-radius: 56%;
    margin-right: 10px;
    min-width: 0 !important;
    box-shadow: 0px 0px 14px #ffffff;
}

.ListItemText{
    background-color: #0dbef3 !important;
    color: rgb(233 234 241);
}