.visit-Box{
    width: 300px;
    height: 500px;
    background-image: linear-gradient(225deg, #76caf3, #53b5e5);
    margin: 50px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #1274c9;
}
.Initial-visit,.Next-visit{
    width: 50%;
    height: 30%;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 20px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out 400ms;
    position: relative;
    background-color: #bfe8eb;
    border: 2px solid #1274c9;
}

.Initial-visit{
    color: hsl(0, 0%, 100%);
    background-image: url("../../images/tooth3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.Initial-visit:hover{
    /* background-color: rgb(10, 152, 177); */
    color: #196a03;
    box-shadow: 0px 0px 80px rgb(250, 253, 253);
    border: 2px solid rgb(3, 148, 162);
}

.Next-visit{
    background-image: url("../../images/tooth4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.Next-visit:hover{
    /* background-color: rgb(10, 152, 177); */
    color: #034ca0 !important;
    box-shadow: 0px 0px 80px rgb(250, 253, 253);
    border: 2px solid rgb(3, 148, 162);
    padding: 2px;
}

.visit-title{
    position: absolute;
    font-size: 1.4rem !important;
    top: -45px;
    color: rgb(255 255 255);
    rotate: 359deg;
    left: 40px;
    
}

.visit-Next-title{
    position: absolute;
    bottom: 4px;
    font-size: 1.4rem !important;
    top: 140px;
    color: rgb(255 255 255);
    rotate: 359deg;
    left: 19px;
}